:root {
  --main-color: #fff;
  --second-color: #000;
  --purple-color: #7428cb;
  --pink-color: #fc60a8;
  --blue-color: #5386e4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
